body{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HTwJZSvuir61yqt4/rolling-clouds-in-the-blue-sky-timelapse-full-hd-video_rrs4ayo6_thumbnail-full01.png");
    background-repeat: no-repeat;
}
h1{
    color: white;
}
#position{
    color: white;
    font-size: 12px;
}
.center{
    background-color: #7FFFD4;
    margin: auto;
    margin-top: 100px;
    width: 30%;
    border: 3px solid #40E0D0;
    border-radius: 30px;
    padding: 10px;

}
#temp{
    font-size: 40px;
}
#wind{
    font-size: 20px;
}
